<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Kier.NET</title>

    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
</head>
    <body class="h-full flex flex-col m-0 p-0">

    <!-- Fixed Header -->
    <header style="background-color: #3690B2;"  class="fixed top-0 w-full bg-blue-500 text-white py-6 px-4 z-10 shadow-lg">
        <div class="max-w-screen-xl mx-auto flex justify-between items-center">
        <h1 class="text-2xl font-bold">The Osage Nation</h1>
        <button class="md:hidden text-white focus:outline-none" aria-label="Toggle navigation">
            <!-- Hamburger Icon -->
            <svg class="w-8 h-8" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
        </button>
        <nav class="hidden md:flex space-x-6 text-lg">
            <a href="/" class="hover:text-gray-300">Home</a>
            <a href="/Home" class="hover:text-gray-300"></a>
        </nav>
        </div>
    </header>

    <!-- Main Content -->
    <main class="flex-1 mt-[9px] overflow-y-auto">
        @* <div class="max-w-screen-xl mx-auto px-4"> *@
        @RenderBody()

        <!-- Hero Section -->
        <div class="w-full h-screen bg-fixed bg-cover bg-center bg-no-repeat bg-[url('/images/2021-1209-Chief_Claremore.webp')] flex items-center justify-end px-10">
            <div class="space-y-4 text-white text-center">
            <div class="bg-black/60 p-8 rounded-xl text-4xl font-bold">Osage Nation</div>
            <div class="bg-black/60 p-8 rounded-xl text-4xl font-bold">Services</div>

            </div>
        </div>
        </div>
    </main>

    <!-- Fixed Footer -->
    @* <footer style="background-color: #3690B2;"  class="fixed bottom-0 w-full bg-gray-800 text-white py-6 px-4 z-10 shadow-inner">
        <div class="text-center">

        <p class="text-lg">&copy; 2025 - Casting a .NET</p>
        </div>
    </footer> *@

    @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
